<!DOCTYPE html>
<html>
<head>
  <title>future_looks</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.10.0/cdn/themes/light.css" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<div class="stack">
  <div class="center" style="--measure: var(--size-content-10)">
    <nav class="cluster">
      <ul class="cluster list-style-type:none padding-inline-start:0">
        <li class="padding-inline-start:0"><%= link_to "Default", '/' %></li>
        <li class="padding-inline-start:0"><%= link_to "Material", '/material' %></li>
        <li class="padding-inline-start:0"><%= link_to "Shoelace", '/shoelace' %></li>
      </ul>
    </nav>
  </div>
  <main class="center"
        style="--measure: var(--size-content-10)">
    <%= yield %>
  </main>
</div>
</body>
</html>
