<!DOCTYPE html>
<html>
<head>
  <title>future_looks</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.10.0/cdn/themes/light.css"/>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>

<div class="md:flex flex-col md:h-screen overflow-y-hidden">
  <div class="flex-shrink-0 bg-stone-800 text-stone-100 font-mono px-4 py-4">
    <nav class="flex h-full">
      <ul class="flex gap-4">
        <li ><%= link_to "Default",
                         '/',
                         class: class_names(
                           'border-b-2', 'border-b-transparent', 'pb-1',
                           'hover:text-teal-200 hover:border-b-teal-300' => !current_page?(root_path),
                           'text-teal-400 border-b-teal-400' => current_page?(root_path)) %></li>
        <li ><%= link_to "Material",
                         '/material',
                         class: class_names(
                           'border-b-2', 'border-b-transparent', 'pb-1',
                           'hover:text-teal-200 hover:border-b-teal-300' => !request.fullpath.include?("material"),
                           'text-teal-400 border-b-teal-400' => request.fullpath.include?("material")) %></li>
        <li ><%= link_to "Shoelace",
                         '/shoelace',
                         class: class_names(
                           'border-b-2', 'border-b-transparent', 'pb-1',
                           'hover:text-teal-200 hover:border-b-teal-300' => !request.fullpath.include?("shoelace"),
                           'text-teal-400 border-b-teal-400' => request.fullpath.include?("shoelace")) %></li>
      </ul>
    </nav>
  </div>
  <main class="h-full">
    <%= yield %>
  </main>
</div>

</body>
</html>
